@using System.Net
@page "/leaderboard"
@using System.Net.Http.Json
@inject HttpClient Http

<h3>Leaderboard </h3>

<input type="text" id="input_text" @bind="searchTerm" @bind:event="oninput" placeholder="Search by the leader-names Name " />

@if (leaderboard == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Year</th>
            <th>ISBN</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var leader in leaderboard)
        {
            <tr>
                <td>@leader.username</td>
                <td>@leader.score</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private QuestionLeaderboard[] leaderboard;
    private string searchTerm = string.Empty;

    private QuestionLeaderboard[] filteredBooks => leaderboard?.Where(leaderboard => leaderboard.username.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToArray();

    protected override async Task OnInitializedAsync()
    {
        leaderboard = await Http.GetFromJsonAsync<QuestionLeaderboard[]>("http://localhost:8080/api/v1/leaderboard");
    }
}